<footer>
  <div class="footer-content">
    <div class="site-map">
      <h4>Site Map</h4>
      <a href="/">Home</a><br>
      <a href="/wiki">All Wiki</a><br>
      <a href="/profile">My Account</a>
    </div>
    <div class="social">
      <h4>Get Social</h4>
      <a href="https://x.com/pixelsdojo">X</a> |
      <a href="https://discord.gg/aqeBVdeu">Discord</a> |
      <!-- add others -->
    </div>
    <div class="founder">
      <img src="/images/lizzy_profile_2.png" alt="Lizzy Sims" style="width:80px; border-radius:50%;">
      <p>Founder: <a href="/u/lizzysims">Lizzy Sims</a></p>
      <p>All rights reserved © 2026 Pixels Dojo</p>
    </div>
  </div>
</footer>
